.wrapper {
  padding-top: 50px;
  background-color: rgba(244, 236, 159, 0.947);
  -webkit-animation-name: example;
  /* -webkit-animation-duration: 60s; */
  animation-name: example;
  animation: example 45s infinite;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 20px rgba(226, 226, 226, 0.63), 0 2px 20px rgba(226, 226, 226, 0.63);
}


@-webkit-keyframes example {
  0% 
  { background-color: rgba(244, 236, 159, 0.974);}
  25%    {background-color: rgba(247, 114, 114, 0.974);}
  50%  {background-color:  rgba(49, 49, 211, 0.974);}
  100% {background-color: rgba(72, 179, 72, 0.974);}
}
@keyframes example {
  0% 
  { background-color: rgba(244, 236, 159, 0.974);}
  25%    {background-color: rgba(247, 114, 114, 0.974);}
  50%  {background-color:  rgba(49, 49, 211, 0.974);}
  100% {background-color: rgba(72, 179, 72, 0.974);}
}

